*{
    margin: 0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Playwrite+IN:wght@100..400&family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Rubik+Gemstones&display=swap');
body{
    background-color: black;
    background-image: url("blur-coffee-cafe-shop-restaurant-with-bokeh-background-xd.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

:root{
    --footer-height: 70px;
    --header-height:120px;
    --content-height: calc(100vh - var(--header-height) - var(--footer-height));
}
header{
    height: var(--header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    font-size: xx-large;
    backdrop-filter: blur(6px);
    background-color: rgb(127, 255, 195);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    clip-path: polygon(
    0 0, 100% 0,
    100% 90%, 95% 100%,
    90% 90%, 85% 100%,
    80% 90%, 75% 100%,
    70% 90%, 65% 100%,
    60% 90%, 55% 100%,
    50% 90%, 45% 100%,
    40% 90%, 35% 100%,
    30% 90%, 25% 100%,
    20% 90%, 15% 100%,
    10% 90%, 5% 100%,
    0 90%
  );
    
}

nav>button{
    height: 70px;
    width: 100px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    box-shadow: 0 0 10px rgba(8, 4, 4, 0.7);
  }
  
#content{
    height: var(--content-height);
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 10px;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.food{
    height: 450px;
    border-radius: 90px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.food:hover{
    transform: scale(1.05); /* slightly zooms in */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* gives it a lift */
}

.heading{
    font-size: 80px;
    font-family: "Playwrite IN", cursive;
    color: #f5f5dc	;
    width: 600px;
}
footer{
    height: var(--footer-height);
    color: black;
    background-color:rgb(127, 255, 195) ;
    font-size: x-large;
    padding-top: 15px;
    text-align: center;
}

/*.menuContain{
    height:100%;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;

}*/

.breakFast{
    background-color: #e6692b;
    flex: 1;
    border-radius: 30px;
    font-size: 30px;

}

.Lunch{
    flex: 1;
    background-color: #f5f5dc;
    border-radius: 30px;
}
.Dinner{
    flex: 1;
    background-color: #f5f5dc;
    border-radius: 30px;
}
.menuItem{
    font-size: 3rem;
}
.about{
    height: 400px;
    width: 380px;
    font-size: 20px;
    margin-top: 10px;
    background-color: aquamarine;
    padding: 30px;
    font-family: "Playwrite IN", cursive;
    clip-path: polygon(
    0 10%, 5% 0, 10% 10%, 15% 0, 20% 10%, 25% 0, 
    30% 10%, 35% 0, 40% 10%, 45% 0, 50% 10%, 
    55% 0, 60% 10%, 65% 0, 70% 10%, 75% 0, 
    80% 10%, 85% 0, 90% 10%, 95% 0, 100% 10%, 
    100% 90%, 95% 100%, 90% 90%, 85% 100%, 
    80% 90%, 75% 100%, 70% 90%, 65% 100%, 
    60% 90%, 55% 100%, 50% 90%, 45% 100%, 
    40% 90%, 35% 100%, 30% 90%, 25% 100%, 
    20% 90%, 15% 100%, 10% 90%, 5% 100%, 0 90%
  );
}